.page-auth{
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex:7;
    background-color: #835afd;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8% 6%;

    img {
      max-width: 80%;
    }

    strong {
      font: 700 180% 'Poppins', sans-serif;
      line-height: 8%;
      margin-top: 4%;
    }
    
    p {
      margin-top: 5%;
      font-size: 100%;
      color:#f8f8f8;
    }

  }

  main {
    flex: 8;
    padding: 0 10%;
    display: flex;
    align-items: center;
  }

  .main-content {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80%;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size:120%;
      margin: 10% 0 3%;
      font-family:'Poppins', sans-serif;
      font-weight: 600;
    }

    form {
      input {
        height: 7vh;
        border-radius: 8px;
        padding: 0 4%;
        background: #fff;
        border: 1px solid #a8a8b3;
      }

      button{
        margin-top: 4%;
      }

      input, button{
        width: 100%;
      }
    }

    p{
      font-size: 80%;
      color:#737380;
      margin-top: 3%;

      a{
        color:#e559f9;
      }
    }
  }

  .create-room{
    margin-top: 10%;
    height: 6vh;
    border-radius: 8px;
    font-weight: 500;
    background-color: #ea4335;
    color:#fff;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    transition: 0.2s;

    img {
      margin-right: 4%;
    }

    &:hover{
      filter:brightness(0.9);
    }

  }

  .separator {
    font-size: 70%;
    color:#a8a8b3;
    margin: 5% 0;
    display: flex;
    align-items: center;

    &::before{
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 8%;
    }

    &::after{
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 8%;
    }
  }
}


