#page-auth{
  display: flex;
  align-items: stretch;
  height: 100vh;
}

aside {
  flex:7;
  background-color: #835afd;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 80px;
}

aside img {
  max-width: 320px;
}

#page-auth > aside > strong {
  font-weight: 700 150% 'Poppins', sans-serif;
  line-height: 32px;
  margin-top: 16px;
}
aside p {
  line-height: 32px;
  margin-top: 16px;
  color: #f8f8f8;
}

main {
  flex: 8;
}