.page-auth{
  display: flex;
  align-items: stretch;
  height: 100vh;
}

aside {
  flex:7;
  background-color: #835afd;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8% 6%;
}

aside img {
  max-width: 80%;
}

aside strong {
  font: 700 210% 'Poppins', sans-serif;
  line-height: 8%;
  margin-top: 4%;
}

aside p {
  line-height: 8%;
  margin-top: 10%;
  color: #f8f8f8;
}

main {
  flex: 8;
}

.main-content {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  align-items: stretch;
  text-align: center;
}

.main-content img {
  align-self: center;
}

form input {
  height: 50px;
  border-radius: 8px;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #a8a8b3;
}

form button {
  margin-top: 16px;
}

form input, form button {
  width: 100%;
}

.separator {
  font-size: 14px;
  color:#a8a8b3;
  margin: 32px 0;
  display: flex;
  align-items: center;
}

